<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TouchGame.Properties.Game1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TouchGame.Game1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TouchGame.Properties.Vision" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TouchGame.Properties.DragAndDrop" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TouchGame.Properties.Game1>
            <setting name="IsFullScreen" serializeAs="String">
                <value>0</value>
            </setting>
        </TouchGame.Properties.Game1>
        <TouchGame.Game1>
            <setting name="IsFullScreen" serializeAs="String">
                <value>1</value>
            </setting>
        </TouchGame.Game1>
        <TouchGame.Properties.Vision>
            <setting name="basePath" serializeAs="String">
                <value>Resources\Vision\texture</value>
            </setting>
            <setting name="elementNumber" serializeAs="String">
                <value>4;5;6</value>
            </setting>
            <setting name="totalLevel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="textureScale" serializeAs="String">
                <value>80;82;84;86;88;90;92;94;96;98</value>
            </setting>
        </TouchGame.Properties.Vision>
        <TouchGame.Properties.DragAndDrop>
            <setting name="basePath" serializeAs="String">
                <value>Resources\DragAndDrop</value>
            </setting>
            <setting name="questionFilePath" serializeAs="String">
                <value>question</value>
            </setting>
            <setting name="otherTextureFilePath" serializeAs="String">
                <value>otherTexture</value>
            </setting>
        </TouchGame.Properties.DragAndDrop>
    </userSettings>
</configuration>